.btn {
  display: block;
  width: 100%;
  min-height: 45px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: var(--color-white);
  font-weight: 800;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border: 2px solid var(--color-orange);
  border-radius: 50px;
  transition-duration: 0.4s;
}

.btn:hover {
  color: var(--color-orange);
  cursor: pointer;
}

.btnStyleFilled {
  background-color: var(--color-orange);
}

.btnStyleOutlined {
  background-color: var(--color-boltgun);
}

.btnStyleOutlined:hover {
  color: var(--color-white);
  background-color: var(--color-orange);
}

.btnStyleFilled:hover {
  background-color: var(--color-boltgun);
}
