@import "src/assets/css/styles";

.btn {
  width: 100%;
  min-height: 45px;
  margin: 10px 0;
  color: white;
  font-weight: 800;
  font-size: 16px;
  border: 2px solid $orange;
  border-radius: 50px;
}

.btnStyle--filled {
  background-color: $orange;
}

.btnStyle--outlined {
  background-color: $boltgun;
}
