.clientSideTable {
  table-layout: fixed;
  border-collapse: collapse;
}

.tableWrapper {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #3a3a3a;
  border-radius: 20px;
}

.tableHat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.tableTitle {
  margin: 0;
  color: var(--color-white);
  font-weight: bold;
  font-size: 20px;
  font-style: normal;
  line-height: 32px;
  letter-spacing: 0.15px;
}

.tableHeaderCell,
.tableCell,
.placeholder {
  padding: 13px;
  overflow: hidden;
  font-weight: lighter;
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  white-space: nowrap;
  text-align: left;
  text-overflow: ellipsis;
}

.tableHeaderRow {
  background-color: var(--color-boltgun);
  border-bottom: 2px solid var(--color-dark-gray);
}

.tableHeaderCell {
  color: rgba(255 255 255 / 69%);
}

.tableRow {
  background-color: var(--color-boltgun);
}

.tableRow:hover {
  background-color: var(--color-background);
  transition-duration: 500ms;
  transition-property: background-color;
}

.tableCell {
  color: var(--color-white);
}

.resizer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: -2px;
  display: inline-block;
  width: 2px;
  height: 100%;
  margin: auto 0;
  background-color: var(--color-dark-gray);
  border-radius: 10px;
  user-select: none;
  touch-action: none;
}

.tableHeaderCell:last-child .resizer {
  display: none;
}

.tableContainer {
  min-height: 300px;
  overflow-x: auto;
}

.placeholder {
  display: block;
  color: rgba(255 255 255 / 69%);
  font-style: italic;
  text-align: center;
}
