.clientSideTable {
  border-collapse: collapse;
}

.tableWrapper {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #3a3a3a;
  border-radius: 20px;
}

.tableHat {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  vertical-align: center;
}

.tableTitle {
  font-weight: bold;
  font-size: 20px;
  font-style: normal;
  line-height: 32px;
  letter-spacing: 0.15px;
}

.tableHeaderCell,
.tableCell {
  padding: 13px 100px 13px 13px;
  font-weight: lighter;
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  text-align: left;
  vertical-align: center;
}

.tableHeaderRow {
  background-color: var(--color-boltgun);
  border-bottom: 2px solid #282828;
}

.tableHeaderCell {
  color: rgba(255 255 255 / 69%);
}

.tableRow {
  background-color: var(--color-boltgun);
}

.tableRow:hover {
  background-color: var(--color-background);
  cursor: pointer;
  transition-duration: 500ms;
}

.tableCell {
  color: var(--color-white);
}
