.eye_icon {
  width: 33px;
  height: 30px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  background-image: url("../../../assets/img/eye-icon.svg");
  background-repeat: no-repeat;
  background-position: 20% 25%;
  border-top: 2px solid #ff9c00;
  border-right: 2px solid #ff9c00;
  border-bottom: 2px solid #ff9c00;
  border-left: none;
  border-radius: 0 50px 50px 0;
  cursor: pointer;
}
