.container {
  width: 1200px;
  margin: 0 auto;
  margin-top: 100px;
  color: white;
}

.addUserHeader {
  margin-bottom: 16px;
  color: lightgrey;
  font-size: 30px;
}

.title {
  margin-top: 4px;
  margin-bottom: 16px;
  font-size: 18px;
  border-bottom: 3px solid #d6d3d3;
}

.inputWrapper {
  justify-content: center;
  width: 800px;
  margin: 0 auto;
}

.inputWrapper label {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.inputWrapper span {
  display: inline-block;
  width: 300px;
  margin: 0 16px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.button {
  margin-left: 8px;
}
