.wrapper {
  flex-grow: 1;
  padding: 35px 40px;
  background-image: url("/assets/img/decorate.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.title {
  display: flex;
  align-items: center;
  margin: 0 0 40px;
  color: var(--color-white);
  font-size: 28px;
  line-height: 32px;
}

.title::before {
  content: "";
  width: 66px;
  height: 66px;
  margin: 0 15px 0 0;
  background-color: var(--color-boltgun);
  background-image: url("../../assets/img/eam.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 40px;
  border-radius: 100%;
}

.formWrapper {
  max-width: 875px;
  margin: 0 auto;
  padding: 40px 75px;
  background: var(--color-boltgun);
  border-radius: 16px;
}

.formTitle {
  margin: 0 0 15px;
  color: var(--color-text);
  font-size: 30px;
}

.table {
  padding: 0;
}

.inputGroups {
  margin: 0;
  padding: 0 0 30px;
  list-style: none;
}

.inputGroup:not(:last-child) {
  margin: 0 0 20px;
  border-bottom: 2px solid var(--color-background);
}

.inputGroupTitle {
  margin: 0 0 16px;
  color: var(--color-white);
  font-size: 14px;
}

.inputWrapper {
  max-width: 50%;
}

.buttons {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.button {
  min-width: 200px;
}

.saveBtn {
  position: absolute;
  left: 0;
  color: var(--color-orange);
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  text-align: left;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
