.formWrapper {
  position: absolute;
  top: 25%;
  left: calc(50% - 400px);
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  padding: 120px 100px;
  font-style: normal;
  background: var(--color-boltgun);
  border-radius: 20px;
}

.title {
  color: var(--color-white);
  font-weight: 600;
  font-size: 24px;
}

.btnWrapper {
  display: flex;
}
