.formWrapper {
  position: absolute;
  top: 25%;
  left: calc(50% - 235px);
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 470px;
  padding: 120px 100px;
  font-style: normal;
  background: var(--color-boltgun);
  border-radius: 20px;
}

.formWrapperHidden {
  display: none;
}

.btnWrapper {
  display: flex;
}
