.title {
  margin-bottom: 10px;
  color: var(--color-white);
  font-weight: 600;
  font-size: 24px;
}

.subtitle {
  margin-bottom: 14px;
  color: var(--color-text);
  font-weight: 500;
  font-size: 12px;
  font-style: normal;
}

.link {
  color: var(--color-orange);
  text-decoration: none;
}

.link:active {
  color: var(--color-orange);
}

.signInForm,
.signInFormContent {
  display: flex;
  flex-direction: column;
}
