.title {
  margin-bottom: 10px;
  color: #ffffff;
  font-weight: 600;
  font-size: 24px;
}

.subtitle {
  margin-bottom: 14px;
  color: #a0a0a0;
  font-weight: 500;
  font-size: 12px;
  font-style: normal;
}

.signInForm,
.signInFormContent {
  display: flex;
  flex-direction: column;
}
