.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 14px 14px 25px;
}

.imgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 250px;
  min-height: 200px;
  background: var(--color-substrate-gray);
  border-radius: 10px;
}

.cardTitle {
  max-width: 160px;
  margin-top: 20px;
  margin-bottom: 14px;
  color: var(--color-white);
  font-weight: 600;
  font-size: 22px;
  font-style: normal;
  line-height: 27px;
}
