.chip {
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
  padding: 0 10px;
  color: var(--color-white);
  font-weight: normal;
  font-size: 14px;
  font-style: normal;
  text-align: center;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 50px;
  transition-duration: 0.4s;
}

.icon {
  display: inline;
  height: 10px;
  margin-right: 5px;
}

.chipStyleFilled.chipColorGray {
  background-color: var(--color-gray);
  border-color: var(--color-gray);
}

.chipStyleFilled.chipColorDarkGray {
  background-color: var(--color-dark-gray);
  border-color: var(--color-dark-gray);
}

.chipStyleFilled.chipColorGreen {
  background-color: var(--color-green);
  border-color: var(--color-green);
}

.chipStyleFilled.chipColorDarkOrange {
  background-color: var(--color-dark-orange);
  border-color: var(--color-dark-orange);
}
