.title {
  color: var(--color-white);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.wrapperInput {
  width: 610px;
}

.button {
  width: 150px;
  height: 45px;
  margin-left: 10px;
}

.blockInput {
  display: flex;
  flex-direction: row;
}
