.wrapper {
  position: relative;
}

.search {
  position: absolute;
  top: 28px;
  right: 15px;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  background-image: url("/assets/img/search-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 0;
  cursor: pointer;
}
