.link {
  color: var(--color-orange);
  text-decoration: none;
}

.link:visited {
  color: var(--color-text);
}

.link:hover {
  color: var(--color-text);
}

.link:active {
  color: var(--color-orange);
}
