.authConteiner {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: (
    url("/assets/img/decorate.svg") 0 0 no-repeat,
    var(--color-background)
  );
  background-size: cover;
  backdrop-filter: blur(2px);
}

.authWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 470px;
  padding: 120px 100px;
  font-style: normal;
  background: var(--color-boltgun);
  border-radius: 20px;
}

.signUpLogo {
  width: 90px;
  height: 40px;
}
