.authConteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1920px;
  height: 1080px;
  background: (
    url("/assets/img/decorate.svg") 0 0 no-repeat,
    url("/assets/img/network.svg") 1685px 544px no-repeat,
    #2a2a2a
  );
  backdrop-filter: blur(2px);
}

.authWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 470px;
  padding: 120px 100px;
  font-style: normal;
  background: #393939;
  border-radius: 20px;
}

.signUpLogo {
  width: 90px;
  height: 40px;
}
