@import url("https://fonts.googleapis.com/css?family=Montserrat");

.sign-up-title,
.sign-up-form,
.sign-in-link,
.sign-up-form-policy,
.sign-up-logo {
  width: 25%;
  margin: 0 auto;
  color: #a0a0a0;
  font-family: Montserrat, sans-serif;
  background-color: #393939;
}

.sign-up-logo {
  padding: 50px 50px 25px;
  border-radius: 10px 10px 0 0;
}

.sign-up-title {
  color: #ffffff;
}

.sign-up-title,
.sign-up-form,
.sign-in-link {
  padding: 0 50px;
}

.sign-up-form-policy {
  padding: 0 50px 50px;
  border-radius: 0 0 10px 10px;
}

.sign-up-form,
.sign-up-form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-up-form-content {
  gap: 5px;
}
