.label {
  display: flex;
  flex-direction: row;
}

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.span {
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

.span::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-top: 10px;
  margin-right: 10px;
  vertical-align: -2px;
  border: 1px solid var(--color-orange);
  border-radius: 2px;
}

.checkbox:checked + .span::before {
  color: white;
  background-color: var(--color-orange);
  background-image: url("/assets/img/check-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px;
  border-radius: 2px;
}

.checkbox:focus + .span::before,
.checkbox:not(:disabled) + .span:hover::before {
  outline: transparent dotted 2px;
}

.checkbox:disabled + .span {
  color: black;
  cursor: default;
  opacity: 0.5;
}
