@import "src/assets/css/styles";

.label {
  display: flex;
  flex-direction: row;
}

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.span {
  color: #ffffff;
  font: 16px sans-serif;
  cursor: pointer;
}

.span::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-top: 10px;
  margin-right: 10px;
  vertical-align: -2px;
  border: 1px solid $orange;
  border-radius: 2px;
}

.checkbox:checked + .span::before {
  color: white;
  background-color: $orange;
  background-image: url("https://api.iconify.design/ion/checkmark-sharp.svg?color=white");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
  border-radius: 2px;
}

.checkbox:focus + .span::before,
.checkbox:not(:disabled) + .span:hover::before {
  outline: transparent dotted 2px;
}

.checkbox:disabled + .span {
  color: black;
  cursor: default;
  opacity: 0.5;
}
