.permissionName {
  width: 90%;
  overflow: hidden;
  color: var(--color-orange);
  text-overflow: ellipsis;
}

.permission {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.item1 {
  width: 5%;
}

.item2 {
  width: 60%;
}

.item3 {
  width: 20%;
}

.item4 {
  width: 20%;
}

.title {
  color: var(--color-white);
}
