:root {
  --color-orange: #ff9c00;
  --color-boltgun: #393939;
  --color-substrate-gray: #3a3a3a;
  --color-border-gray: #353535;
  --color-gray: #8f8f8f;
  --color-text: #a0a0a0;
  --color-text-light: #f2f2f5;
  --color-text-gray: #717171;
  --color-red: #ff0000;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-background: #2a2a2a;
  --color-green: #077304;
}
